@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.kartuvies {
  .container {
    max-width: 1550px;
    max-height: 1000px;
    margin: 0px auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }

  .row {
    @include ms-Grid-row;
    @include ms-fontColor-white;
    font-family: "Segoe UI WestEuropean","Segoe UI",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    background-color: $ms-color-white;
    padding: 20px;
  }

  .column {
    @include ms-Grid-col;
    @include ms-lg10;
    @include ms-xl8;
    @include ms-xlPush2;
    @include ms-lgPush1;
    -webkit-text-fill-color: $ms-color-black;
  }

  .column2{
    @include ms-Grid-col;
    @include ms-lg8;
    @include ms-xl6;
    -webkit-text-fill-color: $ms-color-black;
  }
  .drawing{
    @include ms-xlPush8;
    @include ms-lgPush8;
    @include ms-smPush8;
    @include ms-xxlPush8;
    @include ms-xxxlPush8;
    position: relative;
    
    }
  .title {
    @include ms-font-xl;
    @include ms-fontColor-white;
  }

  .subTitle {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .description {
    @include ms-font-l;
    @include ms-fontColor-white;
    letter-spacing: 10px;
    text-align: center;
    font-size:2vw;
  }

  .newWord{  
    .button{
      color: $ms-color-white !important;
      text-transform: uppercase;
      background: $ms-color-themeDarkAlt;
      padding: 10px;
      border: none;
      display: inline-block;
      position: relative;
      cursor: pointer;
    }
    
    .close{
      display:block;
      box-sizing:border-box;
      width:20px;
      height:20px;
      border-width:3px;
      border-style: solid;
      border-color: $ms-color-red;
      border-radius:100%;
      background: -webkit-linear-gradient(-45deg, transparent 0%, transparent 46%, $ms-color-white 46%,  $ms-color-white 56%,transparent 56%, transparent 100%), -webkit-linear-gradient(45deg, transparent 0%, transparent 46%, $ms-color-white 46%,  $ms-color-white 56%,transparent 56%, transparent 100%);
      background-color: $ms-color-red;
      box-shadow:0px 0px 5px 2px $ms-color-black;
      transition: all 0.3s ease;
      cursor: pointer;
    }


   
    button:hover,
    button[hover]{
      background-color: $ms-color-themeDarker;
    }

    input:hover,
    input[hover]{
      background-color: $ms-color-themeDarker;
    }

    
    
  }

  .buttons{

    .button {
      position: relative;
      background-color: $ms-color-themeDarkAlt;
      border: none;
      font-size: 15px;
      color: $ms-color-white;
      
      width: 30px;
      height: 30px;
      text-align: center;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
      text-decoration: none;
      overflow: hidden;
      cursor: pointer;

    }
    button:disabled,
    button[disabled]{
      border: 1px solid $ms-color-red;
      background-color: $ms-color-warningBackground;
      color: $ms-color-red;
      cursor: not-allowed;
    }

    button:hover,
    button[hover]{
      background-color: $ms-color-themeDarker;
    }

  }

  .options{
    max-width: 1000px;
    margin: 0px auto;
    background-color: $ms-color-black;
    -webkit-text-fill-color: $ms-color-white;
    padding: 20px;
  }
  .optionHeader{
    @include ms-font-l;
    @include ms-fontColor-white;
    text-align: center;
    font-size:2vw;
  }
  .optionContents{
    @include ms-font-l;
    @include ms-fontColor-white;
    text-align: left;
  }
  
  .optionsSelect{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid $ms-color-white;
    box-shadow: 1px 1px 4px $ms-color-white;
    -moz-box-shadow: 1px 1px 4px $ms-color-white;
    -webkit-box-shadow: 1px 1px 4px $ms-color-white;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 5px;
    outline: none;
    -webkit-text-fill-color: $ms-color-black;
  }
}